{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
    },
  "rules": {
  },
  "globals": {"Promise": true},
  "extends": ["eslint:recommended", "plugin:react/recommended"],
}
