footer {
  padding-top: 60px;
  .container {
    margin: 20px auto 0;
    color: grey;
    .logos {
      margin-bottom: 15px;
      a {
        margin-right: 25px;
      }
      .fa {
        color: grey;
      }
    }
    .sub-links {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          flex-basis: 25%;
          margin-bottom: 15px;
          a {
            font-size: 14px;
            color: grey;
            transition: color 300ms;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
